{
    "chmod": "0755",
    "directories": [
        "app",
        "src"
    ],
    "files": [
        "LICENSE",
        "vendor/herrera-io/phar-update/res/schema.json"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["Tests"],
            "in": "vendor"
        }
    ],
    "git-version": "package_version",
    "main": "bin/fmm-flow",
    "output": "build/fmm-flow.phar",
    "stub": true
}
